{% extends "base.html" %}
{% load bootstrap %}

{% block content %}

    <h3>Make Your Voice Be Heard</h3>

    {% if results %}

    <p>
        Your message will be sent to each Representative and Senator checked below.
        Add a personal touch by sharing something about yourself and your views.
        A copy of your message will be emailed to you.
    </p>

    <form role="form" action="" method="POST" id="beheard_form">
        {% csrf_token %}

        {% for rep in results %}
        <p>
            <input type="checkbox" name="rep_ids" value="{{ rep.govtrack_id }}" checked>
            <a href="{{ rep.website }}" target="_blank">
            {% if rep.title == "Rep" %}Representative{% endif %}
            {% if rep.title == "Sen" %}Senator{% endif %}
            {{ rep.first_name }} {{ rep.last_name }}</a>
            ({{ rep.party }})
        </p>
        {% endfor %}
        <hr />
        <blockquote>
        <p>Dear [Representative Name] - </p>

        <p>I'm reaching out to share my strong support for pro-climate policies,
        and I implore you to work with legislators on both sides of the aisle
        to defend vital current climate change policies like the Paris Agreement
        and the Clean Power Plan.
        </p>
        </blockquote>

        {{ form|bootstrap }}
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>

    {% else %}
        <p>No representative were found for that zip code. <a href="{% url 'lookup' %}">Try again?</a></p>
    {% endif %}

{% endblock content %}
